.row-header{
  margin:0px auto;
  padding:0px;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

#footer{
  background-color: rgb(117, 205, 163);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  bottom: 0;
  width:100%;
}
#footer, #footer a {
  color: #3D0859;
}

#footer a i {
  color: white;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgb(117, 205, 163);
  color: #4A4A4A;
}

body{
  padding:50px 0px 0px 0px;
  z-index:0;
}

.navbar-dark {
  background-color: #015A06;
}

.btn-primary {
  background-color: #3D0859;
  border-color: #3D0859;
}

.btn-primary:hover {
  background-color: rgb(96, 41, 126);
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#categories {
  background-color: #015A06;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.secondary-nav-item {
  color: floralwhite;
  padding: 5px;
  border-radius: 5px;
}

.nav-item {
  height: 100%;
}

.nav-item:hover, .nav-item:active {
  background-color: rgb(18, 122, 23);
}

#searchBar {
  padding-top: 20px;
}

#searchBar input, #searchBar button {
  height: 50px;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

#serachResults {
  min-height: 150px;
}

.fa-envelope-square {
  font-size: 40px !important;
}

.btn-mail {
  width: 40px;
  height: 37px;
}